body {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    color: rgb(32, 33, 34);
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}